body {
    background: black;
    font-family: Roboto, Helvetica, Arial, "Sans-serif";
    font-size: 12px;
    height: 98%;
    margin: 0;
    padding: 0;
    width: 98%;
}

input, textarea {
    max-width: 100%;
    font-family: Roboto, Helvetica, Arial, "Sans-serif";
    font-size: 24px;
}

#log {
    background: white;
    bottom: 6em;
    color: #222;
    font-size: 18px;
    left: 0.5em;
    margin: 0;
    overflow: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#form {
    bottom: 1em;
    font-size: 24px;
    left: 0px;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    position: absolute;
    width: 100%;
}

.light {
    color: yellow;
    font-weight: bold;
}
